<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block 'title' %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">   
        {% block 'head' %}{% endblock %}
    </head>
    <body>
        {% block 'body' %}{% endblock %}

        <nav id="navbar">
            <div class="navbar-item">
                <img src="{% static 'img/abelha.png'%}" id="icon">
            </div>
            <div class="navbar-item" id="user-icon-container">
                {%if user.username %}
                    <a href="{% url 'perfil' %}""><img src="{% static 'img/user-icon.png'%}" id="user-icon">{{ user.username }}</a>
                {% else %}
                    <a href="{% url 'entrar' %}""><img src="{% static 'img/user-icon.png'%}" id="user-icon">LOGIN</a>
                {% endif %}
            </div>
        </nav>
        

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>