{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Diário{% endblock %}

{% block 'head' %}
{% endblock %}

{% block 'body' %}
<div class="flex-container center">
    <a class="btn btn-primary mt-2 w-75" role="button" href="{% url 'novodia' %}">Nova anotação</a>
</div>
<div class="">
    <label for="exampleDateInput" class="form-label">Filtre por data:</label>
    <input type="date" class="form-control" id="exampleDateInput">
</div>
<hr>
<h1 class="text-center">Suas anotações recentes:</h1>
{% endblock %}