{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Olá!{% endblock %}

{% block 'head' %}

{% endblock %}

{% block 'body' %}
<h1 class="text-center">Olá, seja bem-vindo ao Bee!</h1>
<hr>
<h2 class="text-center">O que é?</h2>
<div class="long-text-container">
    <p class="text-center">O webapp Bee é um conjunto de ferramentas voltadas a saúde mental e emocional, possuindo múltiplos meios para o usuário se expressar e refletir conforme sua necessidade do momento!</p>
</div>
<hr>
<h2 class="text-center">Por quê?</h2>
<div class="long-text-container">
    <p class="text-center"></p>
</div>

{% endblock %}