{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Página Inicial{% endblock %}

{% block 'head' %}

{% endblock %}

{% block 'body' %}
<h1 class="text-center">Olá, {{user.username}}!</h1>

<main class="main-blocos">
    <a id="bloco-diario" class="bloco" href="{% url 'journal' %}">
        <p class="title-blocos">Diário</p>
        <img class="icones-blocos" src="{% static 'img/icon-diario.png' %}" >
    </a>
    <a id="bloco-chat" class="bloco">
        <p class="title-blocos">Chat</p>
        <img class="icones-blocos" src="{% static 'img/icon-chat.png' %}">
    </a>
    <a id="bloco-buscar-apoio" class="bloco">
        <p class="title-blocos">Buscar Apoio</p>
        <img class="icones-blocos" src="{% static 'img/icon-lupa.png' %}">
    </a>
    <a id="bloco-feedback" class="bloco">
        <p class="title-blocos">Feedback</p>
        <img class="icones-blocos" src="{% static 'img/icon-lamp.png' %}">
    </a>
</main>

{% endblock %}