/* Tags */

nav {
    background-color: #0532ff;
}

/* Classes */

.navbar-item {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.navbar-item img {
    width: 30%;
    margin: 1%;
}

/* Ids */

#navbar {
    display: flex;
}