/* Tags */

nav {
    background-color: #0532ff;
}

/* Classes */

.navbar-item {
    margin: auto;
    padding: 0%;
}

.navbar-item img {
    width: 30%;
}

.icones {
    width: 20%;
}

/* Ids */

#navbar {
    display: flex;
    padding: 2%;
    margin-bottom: 2%;
}

#icon {
    margin-left: 2%;
}

#user-icon {
    border-radius: 50%;
    margin-right: 2%;
}

#user-icon-container {
    display: flex;
    justify-content: flex-end;
}
