/* Tags */

nav {
    background-color: #0532ff;
}

footer {
    background-color: #0532ff;
}

body {
    margin-bottom: 12vh;
    margin-top: 12vh;
}

/* Classes */

.flex-container {
    display: flex;
}

.flex-container.center {
    justify-content: center;
}

.nav-icon {
    border-radius: 1vh;
    height: 8vh;
    margin: 1vh;
}

.user-icon-container {
    justify-self: end;
}

.login-button-container {
    align-self: center;
    margin: 1vh;
}

.long-text-container{
    margin-left: 3vh;
    margin-right: 3vh;
}

.icones {
    width: 20vh;
}

.invisible-hr {
    opacity: 0;
}

.formulario {
    display: block;
    margin: 5vh
}

.bottom-buttons {
    display: grid;
    position: fixed;
    bottom: 0;
    grid-template-columns: 33vw 33vw 33vw;
    gap: 0.5vw
}

.footer-icon-container{
    display: flex;
    justify-content: center;
}

.bloco{
    text-align: center;
    border-radius: 10px 10px;
    text-decoration: none;
    color: black;
}

.main-blocos{
    margin: 50px;
    display: grid;
    grid-template-columns: 50wh 50wh;
    grid-template-rows: 20vh 20vh;
    gap: 5vw;

}

.icones-blocos{
    height: 70%;
    
}

.title-blocos{
    margin-top: 1vh;
    font-size: x-large;
}

/* Ids */

#navbar {
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 50vw 50vw;
}

#perfil-icon {
    height: 15vh;
    border-radius: 1vh;
}

#bloco-diario{
    background-color: red;
    grid-column: 1;
    grid-row: 1;
}

#bloco-chat{
    background-color: yellow;
    grid-column: 2;
    grid-row: 1;
}

#bloco-buscar-apoio{
    background-color: rgb(46, 46, 255);
    grid-column: 1;]
    grid-row: 2;
}

#bloco-feedback{
    background-color: rgb(132, 0, 255);
    grid-column: 2;
    grid-row: 2;
}
