/* Tags */

nav {
    background-color: #0532ff;
}

/* Classes */

.flex-container {
    display: flex;
}

.flex-container.center {
    justify-content: center;
}

.nav-icon {
    border-radius: 1vh;
    height: 8vh;
    margin: 1vh;
}

.user-icon-container {
    justify-self: end;
}

.login-button-container {
    align-self: center;
    margin: 1vh;
}

.icones {
    width: 20vh;
}

.invisible-hr {
    opacity: 0;
}

.formulario {
    margin: auto;
    max-width: 50vh;
}

.bottom-buttons {
    display: grid;
    bottom: 0;
    position: fixed;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Ids */

#navbar {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 3vh;
}

#perfil-icon {
    height: 15vh;
    border-radius: 1vh;
}