<h2>Registrar Usuário</h2>
{% if erro %}<p style="color:red;">{{ erro }}</p>{% endif %}
<form method="post" action="{% url 'cadastrar' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Nome:</label>
    <input type="text" name="nome"><br>
    <label>Sobrenome:</label>
    <input type="text" name="sobrenome"><br>
    <label>Usuário:</label>
    <input type="text" name="username"><br>
    <label>E-mail:</label>
    <input type="email" name="email"><br>
    <label>Senha:</label>
    <input type="password" name="senha"><br>
    <label>Confirme a senha:</label>
    <input type="password" name="conf_senha"><br>
    <label>Bio:</label><br>
    <textarea name="bio" rows="4" cols="40"></textarea><br>
    <label>Avatar:</label>
    <input type="file" name="foto"><br>
    <button type="submit">Registrar</button>
</form>
<a href="{% url 'entrar' %}">Já tenho conta</a>