{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Seu perfil{% endblock %}

{% block 'body' %}
{% if not user.first_name %}
    <h1>Olá, Admin!</h1>
{% else %}
<h1 class="text-center">Olá, {{user.first_name}} {{user.last_name}}</h1> <!-- Exibe o nome e sobrenome do usuário. -->
{% endif %}
<p class="text-center">Seu Nickname: {{user.username}}</p> <!-- Exibe o nickname do usuário. -->
<hr class="invisivel">
<div class="d-flex justify-content-center">
    <a class="btn btn-primary" role="button" href="{% url 'logout' %}">Terminar sessão</a>
</div>
{% endblock %}