{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Cadastro{% endblock %}

{% block 'head' %}

{% endblock %}

{% block 'body' %}
<h2 class="text-center">Crie sua conta!</h2>

{% if erro %}<p class= "text-center" style="color:red;">{{ erro }}</p>{% endif %} <!-- Se houver erro, ele é exibido. -->

<!-- Formulário de cadastro de perfil. -->
<form method="post" action="{% url 'cadastrar' %}" enctype="multipart/form-data" class="formulario">
    {% csrf_token %} <!-- Token de sergurança para casos de ataques mal-intencionados. -->
    <div class="mb-2">
        <label class="form-label">Nome:</label>
        <input type="text" name="nome" class="form-control">
    </div>
    <div class="mb-2">
        <label class="form-label">Sobrenome:</label>
        <input type="text" name="sobrenome" class="form-control">
    </div>
    <div class="mb-2">
        <label class="form-label">Usuário:</label>
        <input type="text" name="username" class="form-control">
    </div>
    <div class="mb-2">
        <label class="form-label">E-mail:</label>
        <input type="email" name="email" class="form-control">
    </div>
    <div class="mb-2">
        <label class="form-label">Senha:</label>
        <input type="password" name="senha" class="form-control">
    </div>
    <div class="mb-2">
        <label class="form-label">Confirme a senha:</label>
        <input type="password" name="conf_senha" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Avatar:</label>
        <input type="file" name="foto" class="form-control">
    </div>
    <!-- <label>Bio:</label><br>
    <textarea name="bio" rows="4" cols="40"></textarea><br> -->
        <div class="mb-4">
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
</form>
<hr>
<div class="flex-container center mb-8">
    <a id="ja-possuo-button" class="btn btn-secondary mt-2 mb-4" role="button" href="{% url 'entrar' %}">Já possuo conta</a> <!-- Redireciona para a página de Login. -->
</div>

{% endblock %}